﻿@charset "utf-8";

/*comentarios na css*/

body {
    /*font: 15px/1.5 Arial, Helvetica, sans-serif;*/
    font-family: Arial,Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*estilos globais*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #e8491d;
    border: 0;
    /*padding: 0 20px 0 20px;*/
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

header {
    background-color: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

    header a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
    }

    header li {
        float: left;
        display: inline;
        padding: 0 20px 0 20px;
    }

    header #logo {
        float: left;
    }

        header #logo h1 {
            margin: 0;
        }

    header nav {
        float: right;
        margin-top: 10px;
    }

    header .destaque, header .selecionado a {
        color: #e8491d;
        font-weight: bold;
    }

    header nav a:hover {
        color: #ccc;
        font-weight: bold;
    }

/*showcase*/
#showcase {
    min-height: 400px;
    background: url(Img/showcase.jpg) no-repeat 0 -400px;
    text-align: center;
    color: #fff;
}

    #showcase h1 {
        margin-top: 100px;
        font-size: 55px;
        margin-bottom: 10px;
    }

    #showcase p {
        font-size: 20px;
    }

/*newsletter*/

#newsletter {
    padding: 15px;
    color: #fff;
    background: #35424a;
}

    #newsletter h1 {
        float: left;
    }

    #newsletter form {
        float: right;
        margin-top: 15px;
    }

    #newsletter input[type="email"] {
        padding: 4px;
        height: 25px;
        width: 250px;
    }

/*box*/

#boxes {
    margin-top: 20px;
}

    #boxes .box {
        float: left;
        text-align: center;
        width: 30%;
        padding: 10px;
    }

        #boxes .box img {
            width: 90px;
        }

/*pagina sobre*/

.dark {
    padding: 15px;
    background: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
    text-align: justify;
}

article#main-col {
    float: left;
    width: 65%;
    text-align: justify;
}


/*pagina servicos*/

ul#servicos li {
    list-style: none;
    padding: 20px;
    border: #ccc solid 1px;
    background: #e6e6e6;
}

aside#sidebar .orcamento input, aside#sidebar .orcamento textarea {
    width: 80%;
    padding: 5px;
    resize: none;
}

/*footer*/
footer {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #e8491d;
    text-align: center;
}


@media(max-width: 768px) {

    header #logo,
    header nav,
    harder nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }

    #newsletter button, .orcamento button {
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"],
    .orcamento form input,
    .orcamento form textarea {
        width: 100%;
        margin-bottom: 5px;
    }
}
/*fim da media query*/


