﻿@model GlobalGamesMVC.Models.Newsletter
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="Description" content="desenvolvimento de jogos e realidade virtual">
    <meta name="Keywords" content="realidade virtual, criamos jogos, desenvolvemos jogos">
    <meta name="author" content="cet 30">
    <title>Global Games | @ViewBag.Title</title>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--cabeçalho-->
    <header>
        <div class="container">
            <!-- Logo -->
            <div id="logo">
                <h1><span class="destaque">Global</span> Games Enterprise</h1> <!-- span é um paragrafo mas na linha -->
            </div>
            <!-- Menu -->
            <nav>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "Sobre", "Home")</li>
                    <li>@Html.ActionLink("Serviços", "Servicos", "Home")</li>
                </ul>
            </nav><!--fim nav-->
        </div>
    </header>
    <!--corpo-->
    <section id="showcase">
        <div class="container">
            <h1>A melhor plataforma de realidade virtual</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet odio ut augue accumsan, quis maximus magna sollicitudin. Fusce ut maximus magna, ut accumsan quam.
            </p>
        </div><!--fim div container-->
    </section><!--fim section showcase-->
    <section id="newsletter">
        <div class="container">
            <h1>Subscreva a nossa newsletter</h1>
            @using (Html.BeginForm("Newsletter", "Home", FormMethod.Post))
            {
                <div>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { type = "email", placeholder = "Email" } })
                    <button type="submit" class="button_1">Subscrever</button>
                </div>
            }<!--fim form-->
        </div><!--fim container-->
    </section><!--fim section newsletter-->
    @RenderBody()

    <!-- fotter - rodapé da página -->
    <footer>
        <p>Global Games, Todos os direitos reservados &copy; @DateTime.Now.Year</p>
    </footer>
</body>
</html>
